rank-bm25
pandas
numpy
transformers
torch
accelerate
faiss-cpu
sentence-transformers
PyYAML
python-json-logger
ipykernel
huggingface-hub
pyarrow
fastparquet
django 
celery 
redis 
django-celery-results 
plotly